:root {
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Oswald', sans-serif;
    --font-family-tertiary: 'Raleway', sans-serif;

    --color-facebook: #1877F2;
    --color-span: #ff7801;
    --color-background: #ffffff;
    --color-text: #000000;
}